.card-container {
    width: 320px;
    margin: 08px 0;
    padding: 08px 12px;
    border-radius: 6px;
    background: var(--card-bg-color);

    a,
    span {
        color: var(--white-color);
        font-size: var(--small-text);
        font-weight: 700;
        cursor: pointer;
        margin: 0;

        &:hover {
            text-decoration: none;
            color: var(--white-color);
        }
    }
}
