.button {
    border: 0;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 5px;
    font-weight: 500;
    font-size: var(--small-text);
    background: var(--black-color);
    color: var(--white-color);
}

.confirm-btn {
    color: var(--primary-color);
}

.cancel-btn {
    color: var(--red-color);
}
