.column-container {
    width: fit-content;
    padding: 12px 24px;

    .column-title {

        margin: 16px 0 16px;


        margin: 16px 0 16px;


        margin: 16px 0 16px;

        margin: 16px 0px;

        font-weight: 700;
        font-size: var(--h4-text);
        color: var(--white-alt-color);
    }

    .column-subtitle {
        margin: 5px 0 16px;

        font-weight: 700;
        font-size: var(--h4-text);
        color: var(--white-alt-color);
    }


    .column-subtitle {
        margin: 5px 0 16px;

        font-weight: 700;
        font-size: var(--h4-text);
        color: var(--white-alt-color);
    }


    .column-subtitle {
        margin: 5px 0 16px;
        font-weight: 700;
        font-size: var(--h4-text);
        color: var(--white-alt-color);
    }


    .text-center{
        text-align: center;
    }
}
