.custom-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;

    label{
        background-color: #454545;
        width: 100%;
        text-align: center;
        border-radius: 5px 5px 0 0;
        margin-bottom: 0;

    }

    textarea{
        width: 100%;
        background-color: #808080;
        height: 15vh;
        border-radius: 0 0px 5px 5px;
    }
}