@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
input,
button {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #23d366;
  --white-color: #f7f7f7;
  --white-alt-color: #d1d1d1;
  --black-color: #222222;
  --gray-color: #393939;
  --card-bg-color: #7f7f7f;

  --normal-text: 16px;
  --small-text: 14px;
}

.App {
  width: 100%;
}
